<% if participation.answered? %>
  <span class="<%= participation_state_badge_css_class(participation.state) %> label participation-status"><%= humanize_participation_state participation.state %></span>
<% end %>
