<p><%= @event_instance.email_greeting %></p>

<p><%= @event_instance.email_intro %></p>
<p>
  <%= link_to @event_instance.action_url_name, @event_instance.action_url %>
</p>
--
<p>
  <%= link_to @event_instance.resource_url_name, @event_instance.resource_url %>
</p>

