<p><%= @event_instance.email_moderation_greeting %></p>

<p><%= @event_instance.email_moderation_intro %></p>
<p>
  <%= link_to @event_instance.action_moderation_url_name, @event_instance.action_moderation_url %>
</p>