<p><%= @event_instance.email_greeting %></p>

<p><%= @event_instance.email_intro %></p>
<div class="email-card">
  <p><%= @justifcation %></p>
</div>
<p>
  <%= link_to @event_instance.action_url_name, @event_instance.action_url %>
</p>